{% extends 'base.html' %}
{% load static %}


{% block style %}
<style>
    .card{
        width: 500px;
        height: 350px;
        padding: 0 10px 20px 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        border: 1px dashed #000;
        border-radius: 7px;
        background-color: rgb(210, 202, 244);
    }
    .formData{
        width: 90%;
    }
    .formData input:not([type="submit"]){
        width: 100%;
    }
    label{
        font-size: 18px;
        font-weight: bold;
    }
    form{
        margin-bottom: 20px;
    }
    a{
        text-decoration: none;
        color: #000;
    }
</style>
{% endblock %}

{% block content %}
    
    

    <div class="card">
        <h2>URL Generator</h2>
        <div class="formData">
            <form method="post">
                {% csrf_token %}
                {{form.as_div}}
                <input type="submit" value="Generate"> 
            </form>
        </div>
        
        {{ message }}
        
    </div>
    

{% endblock %}