{% extends 'base.html' %}
{% load static %}

{% block style %}
<style>
    .card{
        width: 500px;
        height: 350px;
        padding: 0 10px 20px 10px;
        box-sizing: border-box;
        display: flex;
        align-items:center;
        flex-direction: column;
        border: 1px dashed #000;
        border-radius: 7px;
        background-color: rgb(210, 202, 244);
    }
    .formData{
        width: 90%;
    }
    .formData input:not([type="submit"]){
        width: 100%;
    }
    label{
        font-size: 18px;
        font-weight: bold;
    }
    form{
        margin-bottom: 20px;
    }
    a{
        text-decoration: none;
        color: #000;
    }
</style>
{% endblock %}

{% block content %}
    <div class="card">
        <h2>Set Password</h2>
        <div class="formData">
            

            <form method="post" name="myForm">
                {% csrf_token %}
                {{form.as_div}}
                <input type="submit" value="Set"> 
                <button id="copy" onclick="copyText()">Copy URL</button>  
            </form>
            
            <span>{{ message }}</span>
        
            
        </div>
        
    </div>


    <script>
        document.getElementById('copy').onclick = function(e){
            e.preventDefault()
            copyText();
        }
        function copyText() {
            let input = document.getElementById("id_short_url");
            input.select();
            input.setSelectionRange(0, 99999); // For mobile devices

            document.execCommand("copy");

            }

        let url1 = document.getElementById('id_base_url')
        url1.value = '{{ base_url }}';
        url1.readOnly = true;

        let url2 = document.getElementById('id_short_url')
        url2.value = '{{ short_url }}';
        url2.readOnly = true;



        const inputFields = document.querySelectorAll('input');
        inputFields.forEach((input) => {
            input.setAttribute('autocomplete', 'off');
            input.style.marginBottom = '5px';
            });

    </script>
{% endblock %}
